*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to left, #002204, #295721);     */
    background: linear-gradient(to left, #6f5943, #b59c85);
    width: 100%;
    height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: #846a50;
    border-radius: 30px;
    box-shadow: -1px 0 100px #000;
}

.mainreg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 600px;
    background-color: #846a50;
    border-radius: 30px;
    box-shadow: -1px 0 100px #000;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    color: #fff;
}

form h1{
    padding: 30px;
}

.forminput{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;
}

.forminput label{
    padding-bottom: 5px;
}

.forminput input,
.forminput textarea{
    padding: 10px 10px;
    border: 2px solid #ddd;
    background-color: #ddd;
    box-shadow: 0 1px 10px #193215;
    border-radius: 10px;
    outline: none;
}

.btnsi{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 30px 30px 5px 30px;
    background-color: transparent;
    box-shadow: 0 1px 10px #193215;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
}
.btnsi:hover{
    background-color: #75583b;
}
.a{
    display: flex;
}

.a a{
    color: #fff;
    text-decoration: underline;
}

.a a:hover{
    color: #dcdcdc;
}

.error{
    color: red;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #846a50;
}

.containerlp{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #715842;
    width: 50%;
    height: 80%;
    bottom: 0;
    left: 0;
    border-radius: 80px 80px 0 0;
}
.containerlptxt{
    color: #dcdcdc;
    position: fixed;
    right: 10%;
}
.containerlptxt h1{
    font-size: 70px;
}
.containerlptxt button{
    cursor: pointer;
}
.containerlptxt button:hover{
    background-color: #5b3d1e;
}
.btnlp{
    width: 290px;
    height: 50px;
    border-radius: 20px;
    border: 0 solid;
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
    background-color: #715842;
    color: white;
}

.lpimg{
    width: 80%;
    height: auto;
}